@page "/visits/{id:int}/{example?}"
@using Groomer.Shared.Visits.Queries.DetailVisistQuery;
@inject HttpClient http

<PageTitle>Visit Details</PageTitle>
<AuthorizeView>
    <Authorized>
        <!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Visits">Visits</a></li>
                    <li class="breadcrumb-item active">Visit Detail</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
        @if (visit == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <h1>This is an example text: @Example for Id: @Id</h1>
            <!-- /.row -->
        </div>
    </div><!-- /.container-fluid -->
</section>

            <h3>Visit Detail</h3>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@visit.PiesId</h5>
                    <p class="card-text">@visit.DataWizyty</p>
                    <p class="card-text">@visit.GodzinaWizyty</p>
                    <p class="card-text">@visit.Opis</p>
                    <p class="card-text">@visit.Kwota</p>
                    <p class="card-text">@visit.Id</p>
                    <a href="/Visits" class="btn btn-primary">Go back</a>
                </div>
            </div>
        }
        </Authorized>
    <NotAuthorized>
        <p>I'm sorry, I can't display any claims until you log in</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Example { get; set; }

    private VisistDetailVm visit;

    protected override async Task OnInitializedAsync()
    {
        visit = await http.GetFromJsonAsync<VisistDetailVm>("https://localhost:7233/api/wizyty/" + Id);
    }
}